<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71904925721-n5s00nbgfj8tip914p4r198str52ndql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71904925721-n5s00nbgfj8tip914p4r198str52ndql</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9dsKI9HLgFJegRUYBGn6jHMXzBSg4og</string>
	<key>GCM_SENDER_ID</key>
	<string>71904925721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifgabsp.projectsGet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-21312024</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-21312024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71904925721:ios:55b16c0b193c1f08443288</string>
</dict>
</plist>